.App {
  text-align: center;
}

.header {
  margin: auto;
  background-color: green;
}
.menu {
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  color: white;
}
.menu:hover {
  color: green;
  background-color: white;
}
